body{
    background-image:url('./imagens/background-schooclde.png');
    background-size: cover;
    padding: 0;
    margin: 0;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    padding: 40px;
    border-radius: 2px;
    width:280px;
}
.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}
.card-content-area{
    color: rgb(255, 255, 255);
    font-size: 20px;
    opacity: 0.8;
    margin-top: 5px;

}
.card-content-area{
    background-color: black;
    opacity: 0.3;
    border-radius: 5px  ;
}
.card-content-area {
    display: flex;
    flex-direction: column;
    padding:5px;
}
.card-content-area input {
    width: auto;
    background-color: transparent;
    border:none;
    outline: none;
    color: #fff;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.card-footer {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #38BDB0;
    border-radius: 5px;
    border:none;
    color:#e1e1e1;
    margin: 3px;
    font-size: 25px;
}
.card-footer a{
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hidden{
    display: none;
    margin-top: 25px;
    margin-left: 70px;
    width: 100px;
}
.aba{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3BBFA7;
    border-radius: 5px;
    outline: none;
    border: #3BBFA7;
}
#m1{
    margin-top: 20px;
}