
body{
  
  background-size: cover;
  padding: 0px;
  margin: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}
  
a{
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  /*a:hover {
    background: rgba(0, 0, 0, 0.05);
  }*/
#logo {
    width:5px ;
  }
  
  #header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    
}
  
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
  
#menu a {
    display: block;
    padding: 0.5rem;
}
  
#btn-mobile {
    display: none;
}
input{
  margin-top: 25px;
  margin-left: 70px;
  width: 200px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #3BBFA7;
  border-radius: 10px;
  outline: none;
  border: #3BBFA7;
  display: block;
}
.hidden{
  display: none;
  margin-top: 25px;
  margin-left: 70px;
  width: 200px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #3BBFA7;
  border-radius: 5px;
  outline: none;
  border: #3BBFA7;
}
p{
  margin-left: 5px;
}
#logo1{
  max-width: 150px;
}
  #vazia{
    margin-top: 70px;
}
#dias{
  background: none;
}
  @media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    background-color: #1D5D55;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 30px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}